extends layout

block content
  p You're almost done!  Please check your inbox for a message from this website and click the enclosed link to confirm you're email address with 24 hours, or else your registration will not be saved.
