extends layout

block content
  p We won't do anything with your email address except send you an email when Apple changes https://developer.apple.com/wwdc/ . In order to facilitate this we may add your email address to a bulk sending service (e.g. mailgun) for faster delivery to all recipients.  We will purge the email registry after WWDC sells out, so if this site continues to exist for next year you will have to re-register.

  p We don't create any cookies.  There are no advertisements. There is no catch.

  a(href="mailto:iswwdcsoldoutyet@gmail.com") Email us at iswwdcsoldoutyet@gmail.com
